@import url('https://fonts.googleapis.com/css2?family=Dancing+Script&display=swap');

body{
  background: radial-gradient(ellipse at center, #003435, #1c0c37);
  background-image:  url(pngwing.com.png) ;
  background-size: cover;
  background-repeat: no-repeat ;
  
}

.container{
  width: 1280px;
  margin: auto;
}
nav{
  background-color: #ffffff77;
  
}
ul{
  display: flex;
  justify-content: center;
}
li{
  margin: 0 auto;
  font-family: 'Dancing Script', cursive;
  font-size: 5vh;
  background-color: rgba(255, 255, 255, 0.741);
  
  border: 3px solid rgb(17, 96, 73);
  border-radius: 15px;
  padding: 5px 15px;
}
a{
  text-decoration: none !important;
  color: #000;
}
.quotes-container{
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  height: 90vh;
  position: relative;
  top: 110px;
}

.inner-quotes-container{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 900px;
  text-align: center;
  min-height: 300px;
  padding: 0 25px;
  color: gray;
  border-radius: 10px;
  /* background-color: #F4EDEA; */
  /* border: 10px solid #06BDC1; */
  /* box-shadow: 0px 2px 6px 0px rgba(0, 0, 0, 0.9);  */
}

.inner-quotes-container p{
  font-size: 2rem;
  color: black;
  font-family: 'Dancing Script', cursive;
}

.inner-quotes-container h3{
  font-size: 2rem;
  color: black;
  font-family: 'Dancing Script', cursive;
}
.alert {
  display:none;
  }

@media(max-width:1280px){
  .container{width: 95%;}
  .inner-quotes-container{width: 65%;min-height: 20vh;}
  .quotes-container{ height: 50vh;top: 150px;}
  .inner-quotes-container p{font-size: 1.2rem;}
}
@media(max-width:1000px) {
  .inner-quotes-container{width: 75%;min-height: 30vh;}
  .quotes-container{ height: 14vh;}
  .inner-quotes-container p{font-size: 1.2rem;}
@media(max-width:900px) {
  .inner-quotes-container{width: 75%;min-height: 30vh;}
  .quotes-container{ height: 15vh;}
  .inner-quotes-container p{font-size: 1.2rem;}
}
@media(max-width:768px) {
  .inner-quotes-container{width: 90%;min-height: 17vh;}
  .quotes-container{ height: 15vh;}
  .inner-quotes-container p{font-size: 1.2rem;}
}
@media(max-width:700px) {
  .inner-quotes-container{width: 75%;min-height: 22vh;}
  .quotes-container{ height: 1vh;}
  .inner-quotes-container p{font-size: 1rem;}
}




@media(max-width:480px){
  .inner-quotes-container p{font-size: 1.2rem;}
  .inner-quotes-container h3{font-size: 1.5rem;}
}

@media(orientation:portrait){
   /* .inner-quotes-container{width: 85%;min-height: 450px;}
  .quotes-container{ height: 100vh;}
  .inner-quotes-container p{font-size: 1.2rem;}*/
body{
    background: radial-gradient(ellipse at center, #ffffff, #634e4e);

    background-size: cover;
    background-repeat: no-repeat ; 
    
  } 

  .alert {
    
    height: 90vh;
    display:flex;
    align-items: center;
    justify-content: center;
    margin: auto;
    padding: auto;
    text-align: center;
    word-wrap: break-word;
    }
  .quotes-container{
    display: none;
  }
  .alert h1{
    font-size: 35px;
  }
  nav{
    display: none;}
}  